@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Comfortaa:wght@300&family=Dancing+Script:wght@400;500&family=Noto+Sans&family=Playfair+Display&display=swap');

::root{
  --mainWhite: #fff;
  --maingold: rgb(133, 100, 15);
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
}
*,
::after,
::before, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
 
}

.header-1{
  font-size:5rem;
}
.icon-image{
  color:white;
  font-size:2rem;
}
.header-2{
  margin-top:60px;
  background-color:rgb(124, 124, 11);
  width:75%;
  height:40px;
  font-size:23px;
  text-align: center;
  border-radius: 10px;
  border-color: antiquewhite;
  border-style: solid;
  border-width: 2px;
}
.portfolio-container{
    background-image:url('../images/blackimage-1.jpg');
    height: 98vh;
    color:white;
    width: 100%;
  }
  .portfolio-nav{
    padding-top:60px;
    margin-left:59%;
  }
  .portfolio-link-1{
    background-color:rgb(124, 124, 11);
    margin:0 1rem;
    width: 150px;
    height:60px;
    font-size:1.8rem;
    border-radius: 12px;
    text-decoration:none;
  }
  .link-1{
   text-decoration: none;
   color:var(--mainWhite);
  }

  .portfolio-display{
    display: flex;
    
    
  }
  .portfolio-image{
    height: 100vh;
    width: 178vh;
    margin-left:4%;
    margin-top: 40px;
  }
  .portfolio-text{
    margin-top:5%;
   margin-left:10%;
  }
  
  .image-1{
    border-radius: 80px;
    border-style: solid;
    border-color: rgb(244, 244, 90);
    border-width: 8px;
    height: 40%;
    width:40%;
    margin-right:50px;
    margin-top:50px;
  }