@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Comfortaa:wght@300&family=Dancing+Script:wght@400;500&family=Noto+Sans&family=Playfair+Display&display=swap');

*,
::after,
::before, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
 
}


.blue{
    background-image:url('../images/blackimage-1.jpg');
    height: 98vh;
    color:white;
    width: 100%;
  }

  .full-stack{
    padding-top: 100px;
    text-align: center;
  }
 
  .packages{
    letter-spacing: 45px;
  }
  .main-stack{
    padding-top:45px;
  }
  .features{
    display:flex;
    gap:80px;
    margin-top:50px;
    margin-left:40px;
    height:50px;
    width:88%;
    
  }
  .design-head,.codes-head,.test-deploy-head{
    gap:50px;
   
  }
  
  .full-dev{
   color:rgb(133, 100, 15);
    border-left:solid ;
    border-right: solid;
    border-width: 30px;
    border-color:rgb(133, 100, 15) ;
    
  
  }
  .codes, .design ,.testing{
    height:100px;
    width:150px;
    border-radius: 12px;
    border-color: white;
    border-style: solid;
  }

  @media screen and (max-width: 800px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      a {
        text-decoration: none;
        color: var(--mainBlack);
      
      }
      .features{
        grid-template-columns:100px 200px 100px;
        gap:20px;
        margin-top:50px;
        margin-left:40px;
        height:50px;
        width:88%;
        
      }
      .design-head,.codes-head,.test-deploy-head{
        gap:30px;
       
      }
      .design-head,.codes-head,.test-deploy-head h3{
        font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
      }
    
  }