
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #100d0ddc;
  --mainWhite: #fff;
  --maingold: rgb(133, 100, 15);
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --radius: 1.2rem;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
  --transition: all 0.3s linear;
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-8: hsl(205, 86%, 81%);
}

/* GLOBAL STYLE */

ul {
  list-style-type: none;
  
}
a {
  text-decoration: none;
  color: var(--mainBlack);

}


/* FORM MODAL DISPLAY STYLING*/
.form-container {
  background: var(--maingold);
  border-radius: var(--radius);
  width: 45vw;
  height: 478px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.form-container h3{
  color:var(--mainBlack)
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
.show-modal {
  visibility: visible;
  z-index: 10;
}
#form-text{
  height:60px;
  width:460px;
  outline:none;
  font-size:1.3rem;
  text-align:center;
  border-radius: 12px;

}
#form-email{
  height:60px;
  width:460px;
  outline:none;
  font-size:1.3rem;
  text-align:center;
  border-radius: 12px;

}
#form-content{
  height:200px;
  width:480px;
  outline:none;
  font-size:1.3rem;
  text-align:center;
  justify-content: center;
  border-radius: 12px;
}
.btn-add{
  margin-top:10px;
  height:45px;
  width:120px;
  font-size:1.2rem;
  color:var(--mainWhite);
  border-radius:12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--mainBlack);
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 0.2rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}
/* MODAL DISPLAY END*/



.Resume{
  background-color:var( --maingold);
  height: 56px;
  width:200px;
  font-size:20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  color:rgb(235, 221, 221);
  text-align:center;
  margin-left:58%;
  margin-top:67px;
  cursor:pointer;

}
.bg-grey{
  background-color: rgba(3, 18, 39, 0.635);
}
.stack{
  color:var( --maingold);
  font-size:45px;
}
.h-1{
  color:antiquewhite;
  font-size:32px;
  font-weight: 800;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-left:34px;
  
}


.bg-header{
  color:white;
  font-size:30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p,span{
  color:antiquewhite;
  font-size:18px;
}

.code-color{
  color:antiquewhite;
}

.des-para{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-style: solid;
  border-color: rgb(133, 100, 15);
  border-width: 3px;
}
.number-display{
  display:flex;
  margin-left:71%;
  margin-top:49px;
  gap:20px;
  color:white;

}
.num{
  background-color: rgb(133, 100, 15);
  border-radius: 20px;
  height:42px;
  width:89px;
  font-size:20px;
  font-weight: 500;
  padding-top:9px;
  text-align: center;
  cursor:pointer;

}
.num-larger{
  background-color: rgb(133, 100, 15);
  border-radius: 20px;
  height:42px;
  width:145px;
  font-size:20px;
  font-weight: 500;
  padding-top:9px;
  text-align: center;
  cursor:pointer;
}

/*  SOCIAL MEDIA HANDLE STYLING*/
.social-media{
  padding-top:220px;
 
}
.social-media-inner{
  display: flex ;
  gap:60px;
  padding-left: 740px;
}
.social-fa{
  font-size:34px;
  background-color: white;
  color:black;
  border-radius: 12px;
  cursor:pointer;
}


/* PROJECT PAGE STYLING*/
.section-project-header{
    background-color: #222;
    height: 100vh;
 
}
.projects-font{
  color:rgb(133, 100, 15);
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top:30px;

}
.g-col-4 h3{
  color:white;
}

.project-content{
  display: grid;
  grid-template-columns: 35% 35%  45%;
  gap: 10px;
  padding-left: 190px;
  margin-top:50px;
}
.project-content a {
  text-decoration: none;
  outline:none;
}
.project-image{
  height: 100px;
  width:150px;
  border-radius: 7px;
  border-color: rgb(133, 100, 15);
  border-style:solid;
}
.project-btn-code{
  background-color:rgb(133, 100, 15);
  height: 45px;
  width:140px;
  border-radius:7px;
  color:white;
  font-size:24px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  cursor:pointer;
}
.project-btn-page{
  background-color :#d4e6a5;
  height: 45px;
  width:140px;
  margin-left: 25px;
  border-radius:7px;
  color:rgb(133, 100, 15);;
  font-size:24px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  cursor:pointer;
}
.project-btn-code:hover{
  background-color: var(--mainBlack);
  color:var(--mainWhite)
}
.project-btn-page:hover{
  background-color: var(--mainBlack);
  color:var(--maingold)
}

/*  MEDIA QUERY -MOBILE RESPONSIVENESS IF SCREEN IS EQUAL TO 800PX OR LESS THAN 800PX*/

  
  a {
    text-decoration: none;
    color: var(--mainBlack);
  
  }
  /*NAVBAR QUERY*/
  
  /* LOGO QUERY */
  
  .img-1{
    height: 69px;
    width:120px;
    margin-left:1px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    cursor:pointer;
  }
  /*  HEADER MEDIA */
  
  /* Content query */
  
  
  
  /* AWARD QUERY */
  .section-award h1{
    color: blue;
    font-size:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top:56px;
  }
  /* ABOUT ME QUERY */
  .section-about-header{
    background-color: #222;
    height: 100vh;
  }
  
  .about-header{
   grid-template-columns:100px 300px;
   padding-top: 50px;
   height: 60vh;
  width:50%;
   
  }
  .about-content{
    height: 100px;
    margin:20px 50%;
    max-width: 100%;
    padding-top:40px;
    color:white;
  }
 
  .about-stack{
    display: none;
     }
  .about-font{
    font-size:24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(133, 100, 15);
    font-weight: 400;
  
  }
  .about-web-ani{
    height:250px;
    width:200px;
    padding-left:5px;
    margin-top:60px;
  
  }
  .about-btn-hire{
    background-color:rgb(133, 100, 15);
    height: 30px;
    width:90px;
    border-radius:7px;
    color:white;
    font-size:24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    cursor:pointer;
  }
  
  .about-btn-resume{
    background-color :#d4e6a5;
    height: 30px;
    width:90px;
    border-radius:7px;
    color:rgb(133, 100, 15);;
    font-size:24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    cursor:pointer;
  }
  .about-social-media{
    display: flex ;
    gap:40px;
    padding-left: 30px;
  }
    .about-fa{
      font-size: 23px;
      background-color: white;
      color:black;
      cursor:pointer;
    }
  /*  PROJECT QUERY */
.section-project-header{
    background-color: #222;
    height: 100%;
 
}
.projects-font{
  color:rgb(133, 100, 15);
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top:30px;

}
.g-col-4 h3{
  color:white;
}
.project-content{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  padding-left: 40px;
  margin-top:50px;
  
}
.project-image{
  height: 100px;
  width:150px;
  border-radius: 7px;
  border-color: rgb(133, 100, 15);
  border-style:solid;
}
.project-btn-code{
  background-color:rgb(133, 100, 15);
  height: 34px;
  width:98px;
  border-radius:7px;
  color:white;
  font-size:15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  cursor:pointer;
}
.project-btn-page{
  background-color :#d4e6a5;
  height: 34px;
  width:98px;
  margin-left: 25px;
  border-radius:7px;
  color:rgb(133, 100, 15);
  font-size:15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  cursor:pointer;
}



